<div data-dojo-type="dijit/layout/ContentPane"
	data-dojo-props="region:'top'" style="padding: 0px;">
	<header>
		<div id="header">
			<div id="phoenix_logo">
				<table style="display: inline-block; border-spacing: 0px">
					<tr>
						<td><img src="/tdm/phoenix/images/logo/phoenix_logo.bmp" /></td>
						<td style="vertical-align: top; color: white;"
							title="${version}-r${revision} ${timestamp}" >
							
							<div style="width: 100%; height: 100%;"
								title="${version}-r${revision} ${timestamp}" data-dojo-attach-point="headerTitle">
								<small data-dojo-attach-point="headerVersion">${version}</small>
							</div>
						</td>
					</tr>
				</table>
			</div>
			<div id="volvo_group_logo">
				<img src="/tdm/phoenix/images/logo/volvo_group_logo.bmp">
			</div>
		</div>
	</header>
</div>